/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

.header-primary {
	position: fixed;
	z-index: 500;	
	top:20px;
	left:20px;

	#spin {
	  width:80px;
	  height:80px;
	}

	#spin img {
	  max-width: 100%;
	}

}

.nav-primary {

	.menu {
		position:fixed;
		width:130px;
		height:70px;
		background:$white;
		border:1px solid $white;
		color:$blue;
		padding-left:8px;
		padding-top:3px;
		font-size:14px;
		@include transition;
	}

	.menu:hover {
		background:none;
		color:$white;
		border:1px solid $white;
	}

	#menu1 {
		top:40%;
		left:45%;
	}

	#menu2 {
		top:13%;
		left:18%;
	}

	#menu3 {
		top:23%;
		right:22%;
	}

	#menu4 {
		top:78%;
		right:24%;
	}

	#menu5 {
		top:73%;
		left:42%;
	}

}

.content-primary {
	width:87.5%;
	margin-left:10.5%;
	position: relative;
	z-index:10;
}

.footer-primary {}


html, body {
	height:100%;
}


.grid {
	position:absolute;
	z-index:-1;
	opacity:0.5;
	height:3600px;
	width:100%;
	background-size: 220px 220px, 220px 220px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px),
	                  -webkit-linear-gradient(0, white 2px, transparent 2px),
	                  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	                  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: -moz-linear-gradient(white 2px, transparent 2px),
	                  -moz-linear-gradient(0, white 2px, transparent 2px),
	                  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	                  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: linear-gradient(white 2px, transparent 2px),
	                  linear-gradient(90deg, white 2px, transparent 2px),
	                  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	                  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	-pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
	                 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
	                 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
	                 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
	                 #269;
	behavior: url(/pie/PIE.htc);
}







/* Elements */


